# Citadel Subspace Terminal - Vercel Environment Variables
TELEGRAM_BOT_TOKEN=123456789:ABCDE-Qmsacas...
TELEGRAM_CHAT_ID=9877654123
GOOGLE_SHEET_WEB_APP_URL=https://script.google.com/macros/s/AKfycbz19n..../exec
